{% if data.data.doc %}
## Package Documentation

{{ data.data.doc }}
{% endif %}

### Package: `{{ data.data.name }}`

**Import Path**: `{{ data.data.importPath }}`

---

{% if data.data.types %}
## Types

{% for t in data.data.types %}
### Struct: `{{ t.name }}`

**Package**: `{{ t.packageName }}`  
**Import Path**: `{{ t.packageImportPath }}`

{% if t.doc %}
**Docstring**:  
{{ t.doc }}
{% endif %}

{% if t.vars %}
**Fields:**  
{% for field in t.vars %}
- `{{ field.name }}`: {{ field.type }}
{% endfor %}
{% else %}
_No fields documented._
{% endif %}

---

{% endfor %}
{% else %}
_No types found._
{% endif %}
