{#- Template for Go constant signature. Context: const (dict), config (dict) -#}
{%- if config.show_signature %}
  {% block logs scoped %}
    {{ log.debug("Rendering const signature for " + const.names[0]) }}
  {% endblock logs %}

  const {{ const.names[0] }}
  {%- if const.value is defined %} = {{ const.value }}{% endif %}
{%- endif %}
